<div class="navbar">
  <h3 class="logo">Staples Compare</h3>
</div>

<div class="container">
  <div class="instructions">
    <p>Add links to the products you would like to compare</p>
  </div>
  <div class="input-container">
    <input [(ngModel)]="productLink" placeholder="Add link">
    <button mat-raised-button color="primary" (click)="addProduct()">Add</button>
  </div>
  
  <div class="product-list">
    <div *ngFor="let product of products">
      <div class="product-bar">
        <a [href]="product.link" target="_blank">{{ product.name.split(' | staples.ca')[0] }}</a>
        <button mat-icon-button color="warn" (click)="removeProduct(product)">
          <mat-icon>x</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="compareProducts()" [disabled]="products.length === 0 || isLoading" class="compare-btn">
    <span *ngIf="!isLoading">Compare</span>
    <span *ngIf="isLoading">Loading...</span>
  </button>

    <table>
      <thead *ngIf="products.length > 0 && products[0]?.specifications">
        <tr>
          <th></th>
          <th *ngFor="let product of products">
            <div class="product-title">
              <img *ngIf="product.imageLink" [src]="product.imageLink" alt="Product Image" class="product-image">
              <span>{{ product.name.split(' | staples.ca')[0] }}</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="products.length > 0">
          <ng-container *ngIf="products[0]?.specifications">
            <ng-container *ngFor="let key of getProductKeys(); let rowIndex = index">
              <tr [ngClass]="{ 'alternate-row': rowIndex % 2 === 1 }">
                <td>{{ key }}</td>
                <ng-container *ngFor="let product of products">
                  <td>{{ getProductSpecificationValue(product, key) }}</td>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    